In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
data=pd.read_csv("datasets/titanic/train.csv")

In [46]:
data.head(n=7) #by default n is 5

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S

In [47]:
data.info()  #returns schema or structure of the database

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [48]:
#whether or not you'll survive doesnt depend on attributes like name,ticket etc.

In [49]:
#note: The count of all the attributes are not same(891), so we need to clean the data, excluding columns with missing data or replacing missing values by mean(standardising) and unnecessary columns

In [50]:
#cleaning the data
cols_dropped=['PassengerId','Name','Ticket','Cabin','Embarked']
clean_data=data.drop(cols_dropped,axis=1)

In [51]:
clean_data.head()

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare
0         0       3    male  22.0      1      0   7.2500
1         1       1  female  38.0      1      0  71.2833
2         1       3  female  26.0      0      0   7.9250
3         1       1  female  35.0      1      0  53.1000
4         0       3    male  35.0      0      0   8.0500

In [52]:
from sklearn.preprocessing import LabelEncoder  # label encoder converts string values to numeric values  for further processing of data

In [53]:
le=LabelEncoder()

In [11]:
clean_data["Sex"]=le.fit_transform(clean_data["Sex"]) #binarised the sex attribute

In [12]:
clean_data.head()

   Survived  Pclass  Sex   Age  SibSp  Parch     Fare
0         0       3    1  22.0      1      0   7.2500
1         1       1    0  38.0      1      0  71.2833
2         1       3    0  26.0      0      0   7.9250
3         1       1    0  35.0      1      0  53.1000
4         0       3    1  35.0      0      0   8.0500

In [13]:
clean_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Sex       891 non-null    int64
 3   Age       714 non-null    float64
 4   SibSp     891 non-null    int64
 5   Parch     891 non-null    int64
 6   Fare      891 non-null    float64
dtypes: float64(2), int64(5)
memory usage: 48.9 KB

In [14]:
clean_data=clean_data.fillna(clean_data['Age'].mean()) #filling missing values by mean

In [15]:
clean_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Sex       891 non-null    int64
 3   Age       891 non-null    float64
 4   SibSp     891 non-null    int64
 5   Parch     891 non-null    int64
 6   Fare      891 non-null    float64
dtypes: float64(2), int64(5)
memory usage: 48.9 KB

In [16]:
input_cols=['Pclass','Sex','Age','SibSp','Parch','Fare']
output_col=['Survived']

In [17]:
x=clean_data[input_cols]
y=clean_data[output_col]

In [18]:
x.shape,y.shape

((891, 6), (891, 1))

In [19]:
#predict whether a person will buyn ps5 or not, given his salary,currentconsole,fondness_for_tech,age

In [60]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split

In [58]:
sk_tree=DecisionTreeClassifier(criterion='entropy', max_depth=5)

In [63]:
x_train, x_test, y_train, y_test = train_test_split(
...     x, y, test_size=0.33, random_state=42)

In [64]:
sk_tree.fit(x_train,y_train)

DecisionTreeClassifier(criterion='entropy', max_depth=5)

In [67]:
sk_tree.score(x_test,y_test)

0.8067796610169492

In [73]:
y_pred=sk_tree.predict(x_test[:10])

In [74]:
y_test[:10], y_pred

(     Survived
 709         1
 439         0
 840         0
 720         1
 39          1
 290         1
 300         1
 333         0
 208         1
 136         1,
 array([0, 0, 0, 1, 1, 0, 1, 0, 1, 1]))

In [76]:
sk_tree.score(x_test,y_test)

0.8067796610169492